<h1>Midterms Review</h1>
<hr>

<h2>Adding Imports</h2>

In [5]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
from scipy.stats import f_oneway

<h2>Fetching the Dataset</h2>

In [3]:
chicago = pd.read_csv('DATASET/Chicago_Crimes.csv')

In [4]:
chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249123 entries, 0 to 249122
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    249123 non-null  int64
 1   Case Number           249123 non-null  object
 2   Date                  249123 non-null  object
 3   Block                 249123 non-null  object
 4   IUCR                  249123 non-null  object
 5   Primary Type          249123 non-null  object
 6   Description           249123 non-null  object
 7   Location Description  248266 non-null  object
 8   Arrest                249123 non-null  bool
 9   Domestic              249123 non-null  bool
 10  Beat                  249123 non-null  int64
 11  District              249123 non-null  int64
 12  Ward                  249123 non-null  int64
 13  Community Area        249120 non-null  float64
 14  FBI Code              249123 non-null  object
 15  X Coordinate          249033 non-null  float64
 16  Y Coordinate          249033 non-null  float64
 17  Year                  249123 non-null  int64
 18  Updated On            249123 non-null  object
 19  Latitude              249033 non-null  float64
 20  Longitude             249033 non-null  float64
 21  Location              249033 non-null  object
dtypes: bool(2), float64(5), int64(5), object(10)
memory usage: 38.5+ MB

<h2>Looking for Categorical Datatypes</h2>

In [9]:
chicago['Primary Type'].value_counts()

Primary Type
THEFT                                59201
BATTERY                              44579
CRIMINAL DAMAGE                      27094
ASSAULT                              22615
MOTOR VEHICLE THEFT                  19604
OTHER OFFENSE                        16781
DECEPTIVE PRACTICE                   14991
BURGLARY                              8443
ROBBERY                               8200
WEAPONS VIOLATION                     7164
NARCOTICS                             6627
CRIMINAL TRESPASS                     5045
OFFENSE INVOLVING CHILDREN            1597
CRIMINAL SEXUAL ASSAULT               1573
SEX OFFENSE                           1210
PUBLIC PEACE VIOLATION                1006
INTERFERENCE WITH PUBLIC OFFICER       771
HOMICIDE                               553
STALKING                               520
ARSON                                  452
PROSTITUTION                           287
CONCEALED CARRY LICENSE VIOLATION      249
LIQUOR LAW VIOLATION                   192
INTIMIDATION                           145
KIDNAPPING                             105
OBSCENITY                               53
HUMAN TRAFFICKING                       24
GAMBLING                                18
PUBLIC INDECENCY                        13
OTHER NARCOTIC VIOLATION                 7
NON-CRIMINAL                             4
Name: count, dtype: int64

In [11]:
chicago['Location Description'].value_counts()

Location Description
STREET                66040
APARTMENT             47787
RESIDENCE             29776
SIDEWALK              13265
SMALL RETAIL STORE     9858
                      ...
SAVINGS AND LOAN          1
RETAIL STORE              1
HOTEL                     1
CHA STAIRWELL             1
CTA "L" PLATFORM          1
Name: count, Length: 128, dtype: int64

In [13]:
chicago['Domestic'].value_counts()

Domestic
False    202776
True      46347
Name: count, dtype: int64

In [14]:
chicago['Arrest'].value_counts()

Arrest
False    213121
True      36002
Name: count, dtype: int64

In [18]:
chicago['Year'].value_counts()

Year
2024    188918
2025     60205
Name: count, dtype: int64

In [20]:
# change to datetime
# chicago['Updated On'].value_counts()

In [21]:
# change to datetime
# chicago['Date'].value_counts()

<h1>Looking for Null Values</h1>
<hr>

In [25]:
chicago.isnull().sum()

ID                        0
Case Number               0
Date                      0
Block                     0
IUCR                      0
Primary Type              0
Description               0
Location Description    857
Arrest                    0
Domestic                  0
Beat                      0
District                  0
Ward                      0
Community Area            3
FBI Code                  0
X Coordinate             90
Y Coordinate             90
Year                      0
Updated On                0
Latitude                 90
Longitude                90
Location                 90
dtype: int64

In [26]:
chicago['Location Description'] = chicago['Location Description'].fillna('Unknown')
chicago['X Coordinate'] = chicago['X Coordinate'].fillna('Unknown')
chicago['Y Coordinate'] = chicago['Y Coordinate'].fillna('Unknown')
chicago['Latitude'] = chicago['Latitude'].fillna('Unknown')
chicago['Longitude'] = chicago['Longitude'].fillna('Unknown')
chicago['Location'] = chicago['Location'].fillna('Unknown')

In [27]:
chicago.isnull().sum()

ID                      0
Case Number             0
Date                    0
Block                   0
IUCR                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          3
FBI Code                0
X Coordinate            0
Y Coordinate            0
Year                    0
Updated On              0
Latitude                0
Longitude               0
Location                0
dtype: int64

<h1>Changing Datatypes</h1>
<hr>

In [30]:
chicago['Primary Type'] = chicago['Primary Type'].astype('category')
chicago['Location Description'] = chicago['Location Description'].astype('category')
chicago['Domestic'] = chicago['Domestic'].astype('category')
chicago['Arrest'] = chicago['Arrest'].astype('category')
chicago['Year'] = chicago['Year'].astype('category')

In [31]:
chicago['Date'] = pd.to_datetime(chicago['Date'], dayfirst = True, errors = 'coerce')

In [32]:
chicago.dtypes

ID                               int64
Case Number                     object
Date                    datetime64[ns]
Block                           object
IUCR                            object
Primary Type                  category
Description                     object
Location Description          category
Arrest                        category
Domestic                      category
Beat                             int64
District                         int64
Ward                             int64
Community Area                 float64
FBI Code                        object
X Coordinate                    object
Y Coordinate                    object
Year                          category
Updated On                      object
Latitude                        object
Longitude                       object
Location                        object
dtype: object

<h1>Adding DateTime Columns</h1>

In [33]:
chicago['Date'].value_counts()

Date
2024-01-11 00:00:00    70
2024-01-05 00:00:00    69
2024-01-06 00:00:00    69
2024-01-08 00:00:00    69
2024-01-09 00:00:00    65
                       ..
2025-11-04 21:40:00     1
2025-11-04 21:43:00     1
2025-11-04 21:45:00     1
2024-06-21 19:33:00     1
2024-04-14 00:14:00     1
Name: count, Length: 126287, dtype: int64

In [34]:
chicago['Month'] = chicago['Date'].dt.month
chicago['Day'] = chicago['Date'].dt.day
chicago['DayofWeek'] = chicago['Date'].dt.dayofweek

In [35]:
chicago.dtypes

ID                               int64
Case Number                     object
Date                    datetime64[ns]
Block                           object
IUCR                            object
Primary Type                  category
Description                     object
Location Description          category
Arrest                        category
Domestic                      category
Beat                             int64
District                         int64
Ward                             int64
Community Area                 float64
FBI Code                        object
X Coordinate                    object
Y Coordinate                    object
Year                          category
Updated On                      object
Latitude                        object
Longitude                       object
Location                        object
Month                            int32
Day                              int32
DayofWeek                        int32
dtype: object